<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>943444489675-vhr3jvr87lepc7us0vr6og3vnncibjo7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.943444489675-vhr3jvr87lepc7us0vr6og3vnncibjo7</string>
	<key>API_KEY</key>
	<string>AIzaSyDjQdESn04AZfMMMzQbaxN37jHZXpB0wDQ</string>
	<key>GCM_SENDER_ID</key>
	<string>943444489675</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ecgriffin.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>radiochatfirst</string>
	<key>STORAGE_BUCKET</key>
	<string>radiochatfirst.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:943444489675:ios:bf2e96e2ee7b18da1f324e</string>
</dict>
</plist>